[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
djangorestframework = "<3.10.0,>=3.9.4"
Django = ">=2.2.2,<2.3.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
