[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
pylint = "*"
pylint-django = "*"

[packages]
djangorestframework = "<3.10.0,>=3.9.4"
Django = ">=2.2.2,<2.3.0"
psycopg2 = "*"
django-extensions = "*"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
